body {
    font-family: Arial, Helvetica, sans-serif;
}

.col-container {
    grid-area: column;
    display: flex;
    font-size: 30px;
    flex-direction: row;
    height: 500px;
    width: 100%;
}

.menu-container {
    grid-area: menu;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    width: 100%;
}

@media screen and(min-width: 600px) {
    #layout {
        display: grid;
        grid-template-columns:
            'head'
            'menu'
            'column'
            'footer'
    }
}

@media screen and(max-width: 600px) {
    #layout {
        display: grid;
        grid-template-columns:
            'head'
            'menu'
            'column'
            'footer'
    }

}

#menu {
    border-right: 1px solid black;
    width: 80px;
}

#col1 {
    background-color: gray;
    width: 300px;
}

#col2 {
    background-color: rgb(154, 150, 150);
    width: 800px;

}

#col3 {
    background-color: rgb(204, 203, 203);
    width: 500px;
}

#head {
    grid-area: head;
    width: 100%;
    margin: auto;
    background-color: rgb(168, 225, 229);
    text-align: center;
    padding: 25px;
}

#footer {
    grid-area: footer;
    width: 100%;
    margin: auto;
    background-color: rgb(8, 67, 54);
    color: white;
    text-align: center;
    padding: 25px;
}

.menu-container {
    display: flex;
    background-color: rgb(8, 67, 54);
    color: white;
}